@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: linear-gradient(to bottom right, rgb(15, 23, 42), rgb(30, 41, 59), rgb(15, 23, 42));
  min-height: 100vh;
}

pre[class*="language-"] {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

code[class*="language-"] {
  font-family: "Fira Code", "Monaco", "Consolas", monospace;
  font-size: 0.875rem;
  line-height: 1.5;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #616161;
}

.token.punctuation {
  color: #9e9e9e;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ce93d8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #81c784;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #64b5f6;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #ffb74d;
}

.token.keyword {
  color: #64b5f6;
}

.token.regex,
.token.important,
.token.variable {
  color: #ffa726;
}
